@model Pharmacy.Models.Banner

<div class="site-blocks-cover" style=" background-image: url('../../wwwroot/upload/img/banner/@Model.img');">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 mx-auto order-lg-2 align-self-center">
                <div class="site-block-cover-content text-center">
                    <h2 class="sub-title">@Model.content</h2>
                    <h1>@Model.tittle</h1>
                    <p>
                        <a href="/san-pham" class="btn btn-primary px-5 py-3">Mua thuốc ngay</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
