@model IEnumerable<Pharmacy.Models.TeamInfo>

@foreach (var teaminfo in Model)
{
    <div class="col-md-6 col-lg-6 mb-5">
        <div class="block-38 text-center">
            <div class="block-38-img">
                <div class="block-38-header">
                    <img src="~/wwwroot/upload/img/teaminfo/@teaminfo.img" alt="Image placeholder" class="mb-4" style="width: 120px; height: 120px">
                    <h3 class="block-38-heading h4">@teaminfo.name</h3>
                    <p class="block-38-subheading">@teaminfo.role</p>
                </div>
                <div class="block-38-body">
                    <p>
                        @teaminfo.description
                    </p>
                </div>
            </div>
        </div>
    </div>
}
